
@{
    var FirstName = "Kevin Kyle";
    var LastName = "Coraza";
    var Email = "kevinkyle.coraza.cics@ust.edu.ph";
    var emailpart = Email.Split('@');
    var username = emailpart[0];
    var domain = emailpart[1];
    string[] email = Email.Split('@');

    /**var isTenured = false;
    int SalaryPerHour = 80;
    int SalaryPerDay = SalaryPerHour * 8;
    int SalaryPerMonth = SalaryPerDay * 30;**/

    int isTenured = 1;
    int SalaryPerHour = 80;
    int SalaryPerDay = 0;
    int SalaryPerMonth = 0;
    var Status = "";

    if (isTenured == 1)
    {
        Status = "Permanent";
        SalaryPerDay = SalaryPerHour * 8;
        SalaryPerMonth = (SalaryPerDay * 30) + 500;
    }
    else
    {
        Status = "Probationary";
        SalaryPerDay = SalaryPerHour * 8;
        SalaryPerMonth = SalaryPerDay * 30;
    }
    /**if (isTenured)
    {
        SalaryPerMonth += 500;
    }
    var Status = isTenured ? "Permanent" : "Probationary";**/

    DateTime bDate = Convert.ToDateTime("29/09/2002");
    DateTime tDate = DateTime.Today;
    var age = tDate.Year - bDate.Year;

    if (bDate > tDate.AddYears(-age))
    {
        age--;
    }

    var Name = "Kevin Kyle Coraza";
    int PrelimGrade = 95;
    int FinalGrade = 97;
    int SemGrade = (PrelimGrade + FinalGrade) / 2;
    var TransmutedGrade = "";
    if (96 <= SemGrade && SemGrade <= 100)
    {
        TransmutedGrade = "1.00";
    }
    else if (94 <= SemGrade && SemGrade <= 95)
    {
        TransmutedGrade = "1.25";
    }
    else if (92 <= SemGrade && SemGrade <= 93)
    {
        TransmutedGrade = "1.50";
    }
    else if (89 <= SemGrade && SemGrade <= 91)
    {
        TransmutedGrade = "1.75";
    }
    else if (87 <= SemGrade && SemGrade <= 88)
    {
        TransmutedGrade = "2.00";
    }
    else if (84 <= SemGrade && SemGrade <= 86)
    {
        TransmutedGrade = "2.25";
    }
    else if (82 <= SemGrade && SemGrade <= 83)
    {
        TransmutedGrade = "2.50";
    }
    else if (79 <= SemGrade && SemGrade <= 81)
    {
        TransmutedGrade = "2.75";
    }
    else if (75 <= SemGrade && SemGrade <= 78)
    {
        TransmutedGrade = "3.0";
    }
    else if (SemGrade < 75)
    {
        TransmutedGrade = "5.0";
    }
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">

<h1>Machine Problem 1</h1>
<h3>Using Razor Engine</h3>
<hr />
<div class="OutputA">
    <h3>Name and Age</h3>
    <p>I am @FirstName @LastName and I am @age years old.</p>
</div>

<div class="OutputB">
    <h3>Email Information</h3>
    <p>
        Email: @Email<br />
        Domain:@domain<br />
        Username: @username
    </p>
</div>

<div class="OutputC">
    <h3>Employee and Salary</h3>
    <p>
        Name: @FirstName @LastName<br />
        Email: @Email<br />
        Status: @Status<br />
        Daily Salary: $@SalaryPerDay<br />
        Monthly Salary: $@SalaryPerMonth
    </p>


</div>

<br />

<div class="OutputD">
    <table>
        <tr>
            <td>Name</td>
            <td>@Name</td>
        </tr>
        <tr>
            <td>Prelim</td>
            <td>@PrelimGrade</td>
        </tr>
        <tr>
            <td>Final</td>
            <td>@FinalGrade</td>
        </tr>
        <tr>
            <td>Semestral Grade</td>
            <td>@SemGrade</td>
        </tr>
        <tr>
            <td>Transmuted Grade</td>
            <td>@TransmutedGrade</td>
        </tr>
    </table>
</div>